.container {
  composes: pl-8 pr-8 pt-16 pb-16 mb-16 border-rounded from global;
  border: 2px solid;
  background-color: var(--color-white);
}

.container:last-child {
  margin-bottom: 0;
}

.success {
  border-color: var(--color-green-deep);
}

.error {
  border-color: var(--color-red);
}
